<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4 class="modal-title" id="myModalLabel">{% trans %}Delete User{% endtrans %}</h4>
</div>
<div class="modal-body">
  <p>{% trans %}Are you sure, that you want to delete user{% endtrans %} "{{ user.username }}"?</p>
</div>
<div class="modal-footer">
  <form action="{{ url_for('user_module.delete', user_id=user.id) }}" method="POST">
    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
    <input type="submit" class="btn btn-danger" value="{% trans %}Delete{% endtrans %}">
  </form>
</div>