<div class="cbar">
	<button class="chide"><p></p></button><button class="csize" disabled><p></p></button><button class="cclose"><p></p></button>
</div>
<div class="fbb">
	<button class="back" disabled></button><button class="forward" disabled></button>
</div>
<div class="places">
	<div class="headcrumbs">
		<p><span class="tg">Все категории</span><span class="ta">&#9658;</span><span class="tg">{{ name }}</span></p>
	</div>
	<div class="search">
		<input type="text" placeholder="Поиск">
	</div>
</div>